$brand-color:         #8b2323;
$highlight:           lighten($brand-color, 35%);
$text-color:          #131313;
$muted-text-color:    #272727;
$muted-text-color-2:  #560c0c;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;